{% extends 'home/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block extra_head %}
    <title>wipedown</title>
{% endblock extra_head %}

{% block main_body %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">delete your account and all associated data</legend>
                {{ form | crispy | lower}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger" type="submit">delete</button>
                <a class="btn btn-outline-secondary" type="submit" href={% url 'main_home' %}>cancel</a>
            </div>
        </form>
    </div>
{% endblock main_body %}
